<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zene_blog_app">

    <!-- Szükséges jogosultság a Firebase-hez -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Zene Blog App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zene_blog_app">

        <!-- Indító képernyő: LoginActivity -->
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Egyéb aktivitások -->
        <activity android:name=".RegisterActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".BlogListActivity" />
        <activity android:name=".BlogEditActivity" />

    </application>

</manifest>